.confirmation-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.confirmation-title {
    color: #007bff;
}

.dates-info {
    margin-top: 20px;
}

.date-label {
    font-weight: bold;
}

.checkbox-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 8px;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #495057;
    margin: 0 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

label[for="showConfirmation"] {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #495057;
}

label[for="showConfirmation"] input[type="checkbox"] {
    margin-right: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border: none;
    color: white;
    transition: background-color 0.3s ease; /* Smooth transition for button background color */
}

/* New hover rule for the button to change the container background */
.close-button:hover + .confirmation-container {
    background-color: #ffe6e6; /* Light red background color when hovering over the button */
}

/* New styles for the updated layout */
.confirmation-container .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-secondary {
    margin-right: auto;
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: -350px; /* Start hidden off the right side */
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1060; /* Higher than Bootstrap modal's z-index */
    border-radius: 10px;
    transition: right 0.5s ease; /* Smooth slide-in effect */
}
.custom-alert.show {
    right: 20px; /* Slide in to the right position */
}
.custom-alert .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button-container {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.button-container .btn, .button-container .form-check {
    margin-bottom: 10px;
}
.custom-col {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}
