#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem;
    /*margin: 20px;*/
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #4E91FD;
    color: white;
}

.navbar-lightblue  {
    background-color: #4E91FD; /* Blue color */
}

.navbar-lightblue .navbar-brand,
.navbar-lightblue .nav-link {
    color: white; /* White text color for contrast */
}

#offcanvasNavbar {
    width: 200px; /* Adjust this to your preferred width */
}

.custom-offcanvas {
    background-color: #4E91FD; /* Example color: dark gray */
    color: #ffffff; /* Text color */
}

.custom-offcanvas .nav-link {
    color: #ffffff; /* Ensure nav links are visible */
}

.custom-offcanvas .btn-close {
    filter: invert(1); /* Optional: to make close button visible on dark background */
}

#pcNavbar .nav-item {
    font-size: 18px;
}
