#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3.5rem;
    /*margin: 20px;*/
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

.navbar-lightblue {
    background-color: #4E91FD; /* Blue color */
}

.navbar-lightblue .navbar-brand,
.navbar-lightblue .nav-link {
    color: white; /* White text color for contrast */
}
